<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Let's start to play on my server</h1>
<p>
  I just created a new server.
</p>
</body>
</html>