"GENERAL_HOST"                 : "http://api_vagrant.deploystation.com",
"GENERAL_SSL_PATH"             : "/home/deploy/.ssl",
"GENERAL_ASSETS_HOST"          : "https://s3.eu-central-1.amazonaws.com/com.deploystation.assets/",
"TOKEN_ENCRYPTION_KEY"         : "w421g4uk",
"TOKEN_DECRYPTION_KEY"         : "w421g4uk",
"AIRBRAKE_API_KEY"             : "4baa8bb8fc18a836dcc04fb0a756742b",
"PUSHER_HOST"                  : "api-mt1.pusher.com",
"PUSHER_APP_ID"                : "158644",
"PUSHER_KEY"                   : "9e3aa42715e92c6e12b2",
"PUSHER_SECRET"                : "210f3bc51210d73d4b39",
"SENDGRID_USER_NAME"           : "christiandyl",
"SENDGRID_PASSWORD"            : "dsTest2015",
"AWS_KEY"                      : "AKIAJIP5KTJWEMQPGQZQ",
"AWS_SECRET"                   : "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",
"AWS_S3_BUCKET"                : "com.deploystation.staging",
"AWS_S3_REGION"                : "eu-central-1",
"APNS_PEM_PATH"                : "/var/www/api.deploystation.com/current/.apns_pem",
"BRAINTREE_MERCHANT_ID"        : "8vz9fygsrydrggqb",
"BRAINTREE_PUBLIC_KEY"         : "kprr7gxx549pc7jp",
"BRAINTREE_PRIVATE_KEY"        : "ffb5fbe45d4ed915ab9c590dba340025",
"CONNECTS_FACEBOOK_APP_ID"     : "705287956273054",
"CONNECTS_FACEBOOK_APP_SECRET" : "5feb1fbebdd2e3ba5026e9719d380217"